@media screen and (min-width: 428px) {
    .container {
        max-width: 426px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 738px;
    }

 /*--------------------------------------section two pade index-------------------------------------------*/
    .list-section-two {
        column-gap: 24px;
        row-gap: 72px;
    }

    .item-section-two {
        width: calc((100% - 24px) / 2);
    }

    .section-two .title {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }

    .title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: 0.4px;
    }
/*--------------------------------------section two pade index-------------------------------------------*/
    .section-two {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .list-section-two {
        gap: 24px;
    }

    .item-section-two {
        width: calc((100% - 3*24px) / 4);
    }

    .section-two .title {
        line-height: 1.2;
    }

        .section-two .section-text {
            font-weight: 400;
        }

    .icons-section-two {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        border-radius: 4px;
        background-color: var(--cloud-color);
        margin-bottom: 8px;
    }
}