@media screen and (min-width: 428px) {
    .container {
        max-width: 426px;
    }

    .mob-tel {
        font-size: 36px;
    }
        
    .mob-socials-list {
        gap: 56px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 738px;
    }

    .page-title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 1.12px;
    }

/*-----------------------------------------------Header-------------------------------------------------*/
    .page-header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 120;
    }

    .link-logo {
        margin-right: 120px;
    }

    .list-header {
        display: flex;
        gap: 40px;
    }

    .list-contacts {
        display: flex;
        flex-direction: column;
        gap: 12px;
        justify-content: space-between;
        align-items: center;
    }

    .header-contacts {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
    }

    .menu-toggle {
        display: none;
    }


/*-----------------------------------------------hero-----------------------------------------------------*/
    .section-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-wrap {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url(../images/hero-bg-tab-2x.jpg);
        }
    }

    .section-one .page-title {
        max-width: 496px;
    }

    .section-one .button {
        margin: 36px auto 0;
    }
/*--------------------------------------section two pade index-------------------------------------------*/
    .list-section-two {
        column-gap: 24px;
        row-gap: 72px;
    }

    .item-section-two {
        width: calc((100% - 24px) / 2);
    }

    .section-two .title {
        text-align: left;
    }

/*-------------------------------------section four pade index-----------------------------------------*/

    .list-section-four {
        column-gap: 24px;
        row-gap: 64px;
        max-width: 552px;
        margin: 0 auto;
    }
    
    .item-section-four {
        width: calc((100% - 24px) / 2);
    }

/*-------------------------------------section five pade index-----------------------------------------*/
    .section-five {
        max-width: 582px;
        margin: 0 auto;
    }
    .item-section-five {
        width: calc((100% - 32px) / 3);
        height: 88px;
    }
 }

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }

    .title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: 0.4px;
    }
/*-----------------------------------------------Header-------------------------------------------------*/
    .page-header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 332;
    }

    .link-logo {
        margin-right: 76px;
    }

    .link-logo,
    .link-logo-footer {
            padding-top: 0px;
            padding-bottom: 0px;
    }

/*.list-header {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}*/

    .list-contacts {
        display: flex;
        flex-direction:row;
        gap: 40px;
        justify-content: space-between;
        align-items: center;
    }

    .header-contacts {
        display: flex;
        gap: 40px;
    }

    .menu-toggle {
        display: none;
    }

/*-----------------------------------------------hero-----------------------------------------------------*/

.section-one {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-wrap {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero-bg-2x.jpg);
    }
}

    .container .page-title {
        display: block;
        max-width: 496px;
    }
    
    .section-one .button {
        margin: 48px auto 0;
    }

/*--------------------------------------section two pade index-------------------------------------------*/
    .section-two {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .list-section-two {
        gap: 24px;
    }

    .item-section-two {
        width: calc((100% - 3*24px) / 4);
    }

    .section-two .title {
        line-height: 1.2;
    }

    .section-two .section-text {
        font-weight: 400;
    }

    .icons-section-two {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        border-radius: 4px;
        background-color: var(--cloud-color);
        margin-bottom: 8px;
    }

/*-------------------------------------section three pade index-----------------------------------------*/
    .section-three {
        padding-bottom: 120px;
    }

    .section-three .section-title {
        margin-bottom: 72px;
        display: block;
    }

    .list-section-three {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin: 72px auto 0;
        padding: 0;
    }

/*-------------------------------------section four pade index-----------------------------------------*/

    .section-four {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .list-section-four {
        gap: 24px;
        min-width: 100%;
    }

    .item-section-four {
        width: calc((100% - 72px) / 4);
    }
    .section-four .title {
        line-height: 1.2;
    }   
/*-------------------------------------section five pade index-----------------------------------------*/
    .section-five {
        padding-top: 120px;
        padding-bottom: 120px;
        min-width: 100%;
    }

    .list-section-five {
        display: flex;
        gap: 24px;
    }

    .item-section-five {
        width: calc((100% - 120px) / 6);
        height: 88px;
    }

}